
<section>
    <h1>Contact</h1>
    <form >
        <label for="framework">
            Favorite Framework:
            <input id="framework" type="text" [(ngModel)]="favoriteFrameworks" [ngModelOptions]='{standalone: true }'  />
          </label>
          <button (click)="sendForm()" >Send Info</button>
      </form>

      {{ favoriteFrameworks }}

</section>

<section>
    <h1>Reactive Form</h1> 
    <form [formGroup]="profileForm" (ngSubmit)="handleContactFormSubmit()">
        <label>
          Name
          <input type="text" formControlName="name" />
        </label>
        <label>
          Email
          <input type="email" formControlName="email" />
        </label>
        <button [disabled]="!profileForm.valid" type="submit">Submit</button>
      </form>
      ...
<h2>Profile Form</h2>
<p>Name: {{ profileForm.value.name }}</p>
<p>Email: {{ profileForm.value.email }}</p>
</section>
